* {
    padding: 0;
    margin: 0;
}

.div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

.div1 {
    background-color: pink;
}

.div2 {
    background-color: green;
    position: relative; 
}

.div3 {
    background-color: yellow;
    position: relative;
}

.div2_1 {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: bisque;
    position: absolute;
    top: 0;
    left: 0;
}

.div2_2 {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: blueviolet;
    position: absolute;
    right: 0;
    bottom: 0;
}

.div3_1 {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(226, 43, 168);
    position: absolute;
    right: 35px;
    bottom: 35px;
}
