* {
    padding: 0;
    margin: 0;
}

.form {
    border: 1px solid gray;
    border-radius: 20px;
    width: 350px;
    padding: 16px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.form_title {
    width: 100%;
    margin: 2px 0;
    padding-left: 10px;
}

.form_input {
    width: 100%;
    margin: 2px 0;
    padding: 14px 0 14px 14px;

    border: 1px solid gray;
    border-radius: 12px;
}

.form_input:focus {
    outline: none;
    border-color: yellow;
}

.form_btn {
    width: 100%;
    margin: 2px 0;
    border-radius: 55px;
    padding: 14px 24px;
    font-weight: bold;
    font-size: 14px;
}

.form_info_text {
    margin: 15px 0;
    color: grey;
    font-size: 14px;
    padding-left: 10px;
}

.submit_btn {
    background-color: yellow;
    border: 1px solid transparent;
}

.redirect_btn {
    background-color: white;
    border: 1px solid rgba(97, 97, 97, 0.318);
}

.form_cross {
    font-size: 20px;

    position: absolute;
    top: 20px;
    right: 20px;
}