* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 60px;
    height: 60px;
    background-color: beige;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    padding: 20px;
    transition: background-color 0.5s;
              , box-shadow: 0.5s;
}

nav ul li a:hover {
background-color: rgb(240, 240, 234);
box-shadow: 5px 5px 5px black;
}

nav .logo img {
    width: 50px;
}

.page {
    height: 100vh;
}

#about_us {
    background-color: coral;
}

#products {
    background-color: cyan;
}

#contacts {
    background-color: rgb(92, 68, 214);
}
