* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.post {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 15px;
    border: 2px solid black;
    border-radius: 15px;
    transition: background-color 0.5s,
                height 0.5s cubic-bezier(0.5, 0.16, 0.34, 0.72), cubic-bezier(0.04, 0.6, 0.24, 0.96);
    transition-delay: 0.2s;
}

.post:hover {
    background-color: bisque;
    height: 250px;
}

.post:hover .info {
    height: 20px;
    width: 100%;
}

.post .info {
    background-color: blue;
    height: 0;
    width: 0;
    transition: height 0.5s,
                width 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.2s;
}

.card {
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    position: relative;
}

 [data-content]:after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    content: attr(data-content);
    padding: 0 5px;
    min-width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: blueviolet;
    color: aliceblue;
}