* {
    margin: 0;
    padding: 0;
}

p {
    color: red;
}

#p1 {
    color: red;
    width: 200px;
}

#p2:hover {
    background-color: aquamarine;
    width: 400px;
    padding: 200px;
}

.p3 {
    border: 1px solid black;
    font-size: 40px;
    padding: 200px;
}
