* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-container {
    padding: 20px;
}

.card {
    width: 250px;
    height: 250px;
    position: relative;
    overflow-y: hidden;
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.9, -1.0, 0.8, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .info {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    /* transform: translateY(100%); */
    /* transition-delay: 0.3s; */
    transform: scale(0);
    transition: transform 0.4s;
    
}

.card:hover .info {
    /* transform: translateY(0); */
    transform: scale(1) rotate(360deg);
}

.card:hover {
    transform: scale(1.1);
}